/* ==============   statement starts   ============== */
#statement{
    padding-bottom: 110px;
    header{
        @include header-1;
        
    }

    .statement-item{
        padding-top: 50px;

        .p-1{
            padding-right: 145px !important;
        }
        p{
            font-family: $ff1;
            font-size: 22px;
            font-weight: 400;
            color: $c33;
            line-height: 36px;
            .num{
                font-family: $ff1;
                font-size: 200px;
                font-weight: 900;
                color: $cf2;
                margin-top: 50px;
            }
            .num-2{
                padding-right: 30px;

            }
        }
    }
}
/* ==============   statement   ends   ============== */